/*fontes Google Fonts
font-family: 'Merriweather Sans', sans-serif;
*/

body{
    text-align: center;
    background-color: #dbdbdb;
    font-family: 'Merriweather Sans', sans-serif;
    max-width: 100%;

}

h1, h2, h3{
    color: #30475e;
    line-height: 1.5;
    text-shadow: 3px 3px 3px rgba(206,89,55,0);
}


.logoNavBar{
    width: 40px;
    margin: auto 10px;
}

.logotipo{
    width: 70%;
    margin: 0 auto 20px;;
}

.headerText{
    margin: 30px auto;
}

.imgDelivery  {
    margin: 20px auto 20px;
    width: 10%;
}

.imgCaixa{
    width: 4%;
    margin: auto 10px;
}

.imgCaixas{
    display: inline;
    margin-left: 30px;
}

.nav-item, nav button{
    margin: auto 10px;;
}


.actionDiv{
    display: flex;
    align-items: center;
}

#searchSection{

    margin: 50px auto;
    
}

.form{
    margin-bottom: 0;
}

.campoBusca{
width: 100%;
margin: 30px auto;
}


#form{
    margin: 50px auto;
}

#form input, select{

    margin: 15px auto;
}


.botaoCadastro{
    margin: 20px auto;
}

.jumbotron{
    position: absolute;
    height: 36%;
    margin: 0 auto 0;
    left:0;
    right:0;
}

.jumbotron .container h1 {
    margin-top: 50px;
    margin-bottom: 20px;
}

.hidden{
    visibility: hidden;
}


/* FORNECEDORES.HTML */

#fornecedores {
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 40px auto;
    background-color: #343a40;
}


.cardBlock{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 30px;
}

.card{
    margin: 10px auto;
    display: inline;
}

.card:hover{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    z-index: 1;
}


#fornecedores img {
    width: 10%;
}























footer{
font-weight: lighter;
font-style: italic;
margin-top: 30px;
}